<% provide(:banner, "aboutbanner.jpg") %>

<div class="container">
	<div class="row">
		<div class="col-sm-8">
			<h1>About</h1>
			<p>Built in 2007, this one-of-a-kind timber-frame
			home sits on 20 acres of farmland in the heart of 
			southern Washington State.</p>
			<p>Take in the stunning views of Mount Adams and
			Mount Rainier from your spacious deck, read a book 
			by the fire, entertain guests in your stunning great
			room, or make friends with the local wildlife. Offering
			the ultimate in luxury, beauty, and privacy, this home
			has everything and more.</p>
			<p>Friends coming to town? They'll love the attached guest house, complete 
			with a spacious bedroom, bathroom, living room and kitchen.</p>
			<br />
			<br />
		
		</div>
		<div class="col-sm-4">
			<h1>Details</h1>
			<ul>
				<li>Built in 2007</li>
				<li>20.1 Acres</li>
				<li>3,331 Square Feet</li>
				<li>3 Beds</li>
				<li>4 Baths</li>
				<li>Central Heating and Cooling</li>
				<li>Mountain Views</li>
				<li>Wide-Plank Cherry Floors</li>
				<li>Vaulted Pine Ceilings</li>
				<li>Stone Fireplace</li>
				<li>High-End Appliances</li>
				<li>Expansive Deck</li>
				<li>Attached Guest House</li>
				<li>Farmer's Porch</li>
				<li>Custom Cabinetry</li>
				<li>Granite Countertops</li>
				<li>Stone Exterior</li>
			</ul>
			<!--	<a href="#" class="btn btn-large btn-primary center-block">Click For the Full Specs!</a> -->
		</div>
	</div>
</div>
		
<% #TODO need to add the full specs stuff %>