

<div id="links">
	<% @thumbs.each do |thumb| %>
		<%= link_to image_tag("gallery/thumb/#{thumb.split('/').last}", alt: "Back of House"), image_path("gallery/#{thumb.split('/').last}"), "data-gallery" => "", title: "Title" %>
	<% end %>
</div>






