@import "bootstrap-sprockets";
@import "bootstrap";

body {
	padding-top: 50px;
}

.jumbotron {
	background: rgba(0, 0, 0, 0.5);
	h1 {
		color: white;
	}

	.btn {
		float: right;
		margin-right: 20px;
	}
}

#banner {
	margin: 0;
	padding: 0;
	overflow: hidden;

}

#map-container {
	height: 20em;
	width: 100%;
}

.gmnoprint a, .gmnoprint span {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

img[src="http://maps.gstatic.com/mapfiles/api-3/images/google_white2.png"], a[href^="http://maps.google.com/maps"]{
    display:none !important;
}



.hidden { display: none; }



/* typography */

h1 {
	padding-top: 10px;
	line-height: 1;
	text-align: left;
	letter-spacing: -1px;
}

/* gallery */

#links {
	padding-top: 10px;
	a img {
		padding: 10px;
		margin: 20px;
		background-color: white;
	}
	text-align: center;
	margin-bottom: 30px;
}

/*flash*/

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}




/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;
	a{
		color: #555;
		&:hover{
			color: #222;
		}
	}
	small {
		float: left;
		margin-left: 10px;
	}
	ul{
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 15px;
			margin-right: 10px;
		}
	}
}

